/*----- navbar header --------*/
.navheaderEstilo{ background: #79a1c7; }

.navbarAside ul li a p{ color: #fff; }
/* .navbarAside ul li a:hover{ font-size: 22px; } */
.navbarAside ul li a i{ color: #fff; }
 
.asideMain{ background-color: #2c5783; }
 
.main-footer { background: #e0d8b0; }
 
.user-status { font-size: 11px; margin-top: 4px; }
.user-status i { font-size: 8px; margin-right: 4px; color: #5cb85c; }
 
/*--------------------------footer------------------------------*/
 
.main-footer {background: #fff; color: #000; }
 